body {
  background-color: rgb(35, 35, 37);
}
h2 {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
}
h3 {
  color: rgb(161, 255, 255);
  font-size: 35px;
  font-family: 'Barlow Condensed', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
button {
  border: none;
  background: none;
  padding: 10;
  border-radius: 50px;
}
img {
  margin-top: 8px;
}
.glow:hover {
  transition: .6s;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(114, 221, 21, 0.4);
}